<html>
<head>
  <title>Homepage! :)</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <% if (!user) { %>
    <h2>You should signup to my website!</h2>
    <a href="/login">LOGIN!</a>
  <% } else { %>
    <h1>Hello, <span><%= user.spotify.username %> this should be the homepage!</h1>
    <h3>SHARE A NEW PLAYLIST</h3>
    <form action="/api/post/new" method="post">
      <label for="Title">Title</label>
      <input type="text" name="title"><br>
      <label for="content">content</label>
      <input type="text" name="content"><br>
      <label for="playlistUrl">Playlist url</label>
      <input type="text" name="playlistUrl"><br>
      <button type="submit"></button>
    </form>
  <% } %>
</body>
</html>
